body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

main {
  height: auto;
}
main section {
  margin: 200px auto 0 auto;
}
main section .section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
main section .section p {
  position: absolute;
  top: -50px;
  left: 2.5%;
  margin: 0;
}
main section .section .border {
  width: 95%;
  border: 2px solid rgba(128, 128, 128, 0.3215686275);
  z-index: 2;
}
main section .section .border2 {
  width: 40px;
  border: 2px solid #51d0c9;
  z-index: 3;
}
main section .section .section_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 50px auto;
}
main section .section .section_title .phone {
  display: none;
}
main section .section .section_title h2 {
  width: 100%;
  margin: 0;
  font-weight: normal;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
main section .section .section_title h2 span {
  margin-left: 20px;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  color: #51d0c9;
}
main section .section .section_title .section_detail {
  border-radius: 10px;
  border: 1px solid white;
  width: 150px;
  height: 70px;
  display: inline-block;
}
main section .section .section_title .section_detail a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
}
main section .section .section_title .section_detail a svg {
  width: 20px;
  height: 20px;
}
main section .section .section_title .section_detail a:hover {
  color: #51d0c9;
  border: 1px solid #51d0c9;
  border-radius: 10px;
}
main #top_photo {
  margin-top: 100px;
  height: calc(100vh - 100px);
}
main #top_photo .top_photo {
  width: 100%;
  height: 100%;
}
main #top_photo .top_photo .photo1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main #top_photo .top_photo .photo1 .bgimg {
  width: 100%;
  height: calc(100vh - 100px);
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation: bganime 15s infinite;
  background-image: url("../material/photo/IMG_2917.JPG");
  background-position: center center;
  position: absolute;
}
main #top_photo .top_photo .photo1 .bgimg:nth-child(2) {
  background-image: url("../material/photo/IMG_2347.JPG");
  animation-delay: 5s;
}
main #top_photo .top_photo .photo1 .bgimg:nth-child(3) {
  background-image: url("../material/photo/IMG_2344.JPG");
  animation-delay: 10s;
}
main #top_photo .top_photo .photo1 .bgimg_text,
main #top_photo .top_photo .photo1 .bgimg_text2,
main #top_photo .top_photo .photo1 .bgimg_text3 {
  opacity: 0;
}
main #top_photo .top_photo .photo1 .bg {
  animation: bganime-bg 15s infinite;
}
main #top_photo .top_photo .photo1 .bgimg_text2 {
  animation-delay: 5s;
}
main #top_photo .top_photo .photo1 .bgimg_text3 {
  animation-delay: 10s;
}
main #top_photo .top_photo .photo1 .bg {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  color: white;
  font-size: 3.5rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
main #top_photo .top_photo .photo1 .bgimg_text1-2,
main #top_photo .top_photo .photo1 .bgimg_text2-2 {
  display: none;
}
main #message {
  height: calc(100vh - 150px);
  position: relative;
}
main #message .message {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: calc(100% - 40px);
  padding: 20px 0;
}
main #message .message .message_title {
  writing-mode: vertical-lr;
}
main #message .message .message_title h2 {
  font-size: 3rem;
  font-weight: normal;
  color: #454545;
  margin-left: 100px;
}
main #message .message .message_title h2 p {
  font-size: 1.3rem;
  color: #51d0c9;
}
main #message .message .message_text {
  writing-mode: vertical-rl;
  font-size: 1.2rem;
  color: #454545;
  line-height: 5rem;
}
main #message .message_image {
  width: 100%;
  height: 100%;
  background-image: url("../material/photo/IMG_2919.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  z-index: -1;
  position: absolute;
  top: 0;
}
main #feature {
  max-width: 1200px;
}
main #feature .feature_ul {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-around;
  justify-items: center;
}
main #feature .feature_ul li {
  width: 90%;
  margin: 25px 0;
}
main #feature .feature_ul li .feature_img {
  width: 100%;
  text-align: center;
}
main #feature .feature_ul li .feature_img img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
main #feature .feature_ul li .feature_title {
  display: flex;
  align-items: center;
  width: calc(100% - 6px);
  border-left: 6px solid #51d0c9;
  background-color: rgba(81, 208, 201, 0.09);
  padding: 15px 0;
  margin: 15px 0;
}
main #feature .feature_ul li .feature_title img {
  width: 100px;
}
main #feature .feature_ul li .feature_title .title_text {
  width: 100%;
  color: #454545;
  font-size: 1.2rem;
  text-align: center;
  overflow-wrap: break-word;
}
main #feature .feature_ul li .feature_text {
  font-size: 0.8rem;
  color: gray;
  margin: 0;
}
main #voice {
  max-width: 1200px;
  position: relative;
  height: 644px;
}
main #voice .voice {
  width: 90%;
  margin: 50px auto;
  text-align: center;
  position: relative;
  padding: 0.5px 10px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main #voice .voice p {
  font-size: 1.5rem;
  margin: 0;
}
main #voice .voice::before,
main #voice .voice::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  display: inline-block;
}
main #voice .voice::before {
  border-left: solid 1px gray;
  border-top: solid 1px gray;
  top: 0;
  left: 0;
}
main #voice .voice::after {
  border-right: solid 1px gray;
  border-bottom: solid 1px gray;
  bottom: 0;
  right: 0;
}
main #voice .scroll-infinity {
  height: 300px;
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
main #voice .scroll-infinity .scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
  height: 100%;
}
main #voice .scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0;
}
main #voice .scroll-infinity__list--left {
  animation: infinity-scroll-left 30s infinite linear 0.5s both;
}
main #voice .scroll-infinity__item {
  width: 500px;
  text-align: center;
}
main #voice .scroll-infinity__item > img {
  width: 90%;
  height: 300px;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -o-object-position: center top;
     object-position: center top;
}
main #content {
  max-width: 1200px;
}
main #content .content {
  background-color: rgba(81, 208, 201, 0.09);
  border-radius: 30px;
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
}
main #content .content div {
  position: relative;
  margin: 25px 0;
}
main #content .content div .content_number {
  position: absolute;
  font-size: 13rem;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
}
main #content .content div .content_sub {
  display: flex;
  margin: 0 30px;
  align-items: center;
}
main #content .content div .content_sub img {
  width: 35%;
  height: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
main #content .content div .content_sub .sub {
  width: 50%;
  text-align: center;
}
main #content .content div .content_sub .sub .content_sub1 {
  font-size: 2rem;
}
main #content .content div .content_sub .sub .content_sub2 {
  color: gray;
  font-size: 1.2rem;
}
main #content .content .content_left .content_number {
  right: 22%;
}
main #content .content .content_left .content_sub {
  margin-left: 150px;
}
main #content .content .content_left .content_sub .sub {
  margin-left: 50px;
}
main #content .content .content_right .content_number {
  left: 22%;
}
main #content .content .content_right .content_sub {
  flex-direction: row-reverse;
  margin-right: 150px;
}
main #content .content .content_right .content_sub .sub {
  margin-right: 50px;
}
main #price {
  max-width: 1200px;
}
main #price .price {
  width: 90%;
  margin: 0 auto;
}
main #price .price .price_sub {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #price .price .price_sub ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  background-color: rgba(222, 222, 222, 0.52);
  border-radius: 20px;
  padding: 20px 0;
  text-align: center;
}
main #price .price .price_sub ul li:nth-child(1),
main #price .price .price_sub ul li:nth-child(3) {
  font-size: 1.3rem;
}
main #price .price .price_sub ul li:nth-child(2) {
  font-size: 2rem;
}
main #price .price .price_sub ul li:nth-child(4) {
  font-size: 0.9rem;
}
main #price .price .price_sub2 {
  background-color: rgba(81, 208, 201, 0.09);
  border-radius: 20px;
  padding: 50px 0;
  margin-top: 50px;
}
main #price .price .price_sub2 .pc-price {
  width: 90%;
  margin: 0 auto;
  display: block;
}
main #price .price .price_sub2 .phone-price {
  display: none;
}
main #price .price .price_sub2 .price_discount .sp-br1,
main #price .price .price_sub2 .price_discount .sp-br2 {
  display: none;
}
main #price .price .price_discount {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}
main #price .price .price_discount span {
  font-size: 2.5rem;
  color: red;
  font-weight: bold;
}
main #recomend {
  max-width: 1200px;
}
main #recomend .recomend_setting .recomend_title {
  display: flex;
  justify-content: center;
  height: 200px;
}
main #recomend .recomend_setting .recomend_title .recomend_teacher {
  height: 100%;
  border-radius: 50%;
}
main #recomend .recomend_setting .recomend_title .recomend_photo {
  height: 100%;
}
main #recomend .recomend_setting .recomend_title ul {
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
}
main #recomend .recomend_setting .recomend_title ul li {
  height: 33.3333333333%;
  font-size: 1.5rem;
}
main #recomend .recomend_setting .recomend_text {
  width: 90%;
  margin: 50px auto;
  font-size: 1.5rem;
}
main #recomend .recomend_setting .recomend_text p {
  font-size: 0.8rem;
}
main #access {
  background-color: rgba(186, 186, 186, 0.14);
  padding: 50px 0;
}
main #access .access {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
main #access .access .map {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
}
main #access .access .map iframe {
  width: 100%;
  height: 100%;
}
main #question {
  max-width: 1200px;
}
main #question .question {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
main #question .question ul {
  width: 900px;
  margin: 0 auto;
}
main #question .question ul li {
  height: 50px;
  border: 1px solid gray;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
main #question .question ul li svg {
  color: #51d0c9;
  width: 40px;
  height: 40px;
}
main #question .question img {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translate(0, -50%);
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  float: right;
}
main #question .question .question2 {
  margin: 30px 0;
}
main #question .question .arrow {
  height: 100px;
  position: relative;
}
main #question .question .arrow span {
  display: inline-block;
  background-color: gray;
  width: 50px;
  height: 2px;
  position: absolute;
}
main #question .question .arrow .arrow_sub1 {
  width: 50px;
  height: 50px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: transparent;
  transform: rotate(45deg);
  transform-origin: top;
}
main #question .question .question3 {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 20px 0;
}
main #question .question .question4 {
  margin: 30px 0;
}
main #question .question .setting1 {
  color: #454545;
}
main #contact .contact {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main #contact .contact .contact_method {
  width: 280px;
  height: auto;
  margin: 0;
}
main #contact .contact .contact_method h3 {
  font-size: 2rem;
}
main #contact .contact .contact_method .contact_enclosure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  border: 1px solid #51d0c9;
  border-radius: 20px;
  font-size: 2rem;
}
main #contact .contact .contact_method .contact_enclosure svg {
  margin-right: 10px;
  height: 30px;
}
main #contact .contact .contact_method a:hover {
  background-color: #51d0c9;
}
main #contact .contact .contact_method a:hover svg {
  fill: white;
}
main #contact .contact .contact_method a:hover span {
  color: white;
}
main #contact .contact .contact_email a svg {
  color: rgba(0, 0, 255, 0.6);
}
main #contact .contact .contact_line a svg {
  color: #03c100;
}
main #contact .contact .contact_maill h3 {
  font-size: 2rem;
  margin-top: 100px;
}
main #contact .contact .contact_maill .form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
main #contact .contact .contact_maill .form .form-text {
  margin-right: 50px;
  width: 40%;
  text-align: right;
  font-size: 1.5rem;
}
main #contact .contact .contact_maill .form .form-text span {
  background-color: red;
  font-size: 0.8rem;
  color: white;
  margin-left: 10px;
  padding: 3px;
}
main #contact .contact .contact_maill .form .form-sub {
  width: 60%;
  text-align: left;
}
main #contact .contact .contact_maill .form .form-sub .form1 {
  width: 200px;
  height: 30px;
}
main #contact .contact .contact_maill .form .form-sub label input {
  width: 30px;
}
main #contact .contact .contact_maill .form .form-sub .form2 input {
  width: 120px;
}
main #contact .contact .contact_maill .form .form-sub textarea {
  width: 400px;
  height: 200px;
}
main #contact .contact .contact_maill button {
  width: 100px;
  height: 50px;
  margin-top: 50px;
}

@keyframes bganime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@keyframes bganime-bg {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.fadein {
  opacity: 0;
  transform: translate(0, -20%);
  transition: 3.5s;
}

.fadein.on {
  transform: translate(0, 0);
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  main section {
    margin: 100px auto 0 auto;
  }
  main section .section .section_title {
    margin: 5px auto;
  }
  main #top_photo {
    margin-top: 50px;
    height: calc(100vh - 120px);
  }
  main #top_photo .top_photo .photo1 .bgimg {
    height: calc(100vh - 120px);
  }
  main #top_photo .top_photo .photo1 .bg {
    font-size: 2.5rem;
  }
  main #feature .feature ul {
    grid-template-columns: repeat(1, 90%);
  }
  main #feature .feature ul li {
    height: auto;
  }
  main #feature .feature ul li .feature_title .title_text {
    font-size: 1.7rem;
  }
  main #feature .feature ul li .feature_title .title_text .sp-br {
    display: none;
  }
  main #feature .feature ul li .feature_text {
    font-size: 1.2rem;
  }
  main #question .question img {
    display: none;
  }
  main #question .question ul {
    width: 100%;
  }
  main #voice .scroll-infinity__item {
    width: 450px;
  }
  main #content .content .content_left,
  main #content .content .content_right {
    margin: 0;
  }
  main #content .content .content_left .content_sub,
  main #content .content .content_right .content_sub {
    justify-content: space-evenly;
    margin: 0;
  }
  main #content .content .content_left .content_sub .sub,
  main #content .content .content_right .content_sub .sub {
    margin-left: 0;
  }
  main #content .content .content_left .content_sub .sub .content_sub1,
  main #content .content .content_right .content_sub .sub .content_sub1 {
    font-size: 1.5rem;
  }
  main #content .content .content_left .content_sub .sub .content_sub2,
  main #content .content .content_right .content_sub .sub .content_sub2 {
    font-size: 1rem;
  }
  main #content .content .content_left .content_number {
    right: 10%;
  }
  main #content .content .content_right .content_number {
    left: 10%;
  }
  main #contact .contact {
    flex-direction: column;
  }
  main #contact .contact .contact_method {
    width: 100%;
    align-items: center;
    display: flex;
  }
  main #contact .contact .contact_method h3 {
    width: 45%;
  }
  main #contact .contact .contact_method .contact_enclosure {
    width: 55%;
  }
  main #contact .contact .contact_maill {
    width: 95%;
    margin: 0 auto;
  }
  main #contact .contact .contact_maill .form {
    width: 100%;
  }
  main #contact .contact .contact_maill .form .form-text {
    width: 20%;
  }
  main #contact .contact .contact_maill .form .form-text span {
    display: block;
    width: 50px;
    text-align: center;
    margin: 0 0 0 auto;
    font-size: 0.6rem;
  }
  main #contact .contact .contact_maill .form .form-sub {
    width: 70%;
  }
  main #contact .contact .contact_maill .form .form-sub textarea {
    width: 90%;
    height: 150px;
  }
  main #contact .contact .contact_maill .form .form-age {
    display: grid;
    grid-template-columns: repeat(2, 130px);
  }
  main #price .price .price_sub {
    align-items: stretch;
  }
  main #price .price .price_sub2 .price_discount .sp-br1 {
    display: inline;
  }
}
@media screen and (max-width: 600px) {
  main section .section .section_title h2 span {
    display: none;
  }
  main section .section .section_title .pc {
    display: none;
  }
  main section .section .section_title .phone {
    display: block;
  }
  main section .section .section_title .h2_title {
    width: 100%;
    font-size: 1.5rem;
  }
  main section .section .section_title .h2_title .sub_title {
    display: none;
    margin: 0;
  }
  main #top_photo .top_photo .photo1 .bgimg {
    height: calc(100vh - 120px);
  }
  main #top_photo .top_photo .photo1 .bg {
    writing-mode: vertical-rl;
    top: 50%;
    width: auto;
    height: 80vh;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  }
  main #top_photo .top_photo .photo1 .bgimg_text {
    left: 15%;
  }
  main #top_photo .top_photo .photo1 .bgimg_text3 {
    left: 85%;
  }
  main #top_photo .top_photo .photo1 .bgimg_text1-2 {
    display: block;
    font-size: 2rem;
  }
  main #message {
    height: calc(100vh - 120px);
  }
  main #message .message {
    padding: 0;
    height: 100%;
  }
  main #message .message .message_title h2 {
    font-size: 2rem;
    margin-left: 50px;
  }
  main #message .message .message_text {
    font-size: 1.3rem;
    line-height: 3rem;
  }
  main #feature .feature ul li .feature_title .title_text {
    font-size: 1.5rem;
  }
  main #feature .feature ul li .feature_title .title_text .sp-br {
    display: contents;
  }
  main #feature .feature ul li .feature_title img {
    width: 50px;
  }
  main #feature .feature ul li .feature_title span {
    width: calc(100% - 50px);
    font-size: 1.3rem;
  }
  main #feature .feature ul li .feature_text {
    font-size: 1rem;
  }
  main #question .question ul li {
    font-size: 0.9rem;
  }
  main #voice {
    height: 544px;
  }
  main #voice .scroll-infinity {
    height: 200px;
  }
  main #voice .scroll-infinity .scroll-infinity__wrap .scroll-infinity__list .scroll-infinity__item {
    width: 360px;
  }
  main #voice .scroll-infinity .scroll-infinity__wrap .scroll-infinity__list .scroll-infinity__item img {
    height: 200px;
  }
  main #voice .voice p {
    font-size: 1.2rem;
  }
  main #voice .voice::after,
  main #voice .voice::before {
    width: 20px;
    height: 20px;
  }
  main #content .content .content_left,
  main #content .content .content_right {
    margin-bottom: 30px;
  }
  main #content .content .content_left .content_number,
  main #content .content .content_right .content_number {
    align-items: flex-end;
  }
  main #content .content .content_left .content_sub,
  main #content .content .content_right .content_sub {
    flex-direction: column;
  }
  main #content .content .content_left .content_sub img,
  main #content .content .content_right .content_sub img {
    width: 90%;
  }
  main #content .content .content_left .content_sub .sub,
  main #content .content .content_right .content_sub .sub {
    width: 90%;
    margin: 0;
    min-height: 220px;
  }
  main #content .content .content_left .content_number {
    right: 50%;
    transform: translateX(50%);
  }
  main #content .content .content_right .content_number {
    left: 50%;
    transform: translateX(-50%);
  }
  main #contact .contact .contact_method {
    flex-direction: column;
  }
  main #contact .contact .contact_method h3 {
    width: 90%;
  }
  main #contact .contact .contact_method .contact_enclosure {
    width: 90%;
  }
  main #contact .contact .contact_phone a {
    width: 300px;
    margin: 0 auto;
  }
  main #contact .contact .contact_phone a span {
    font-size: 1.5rem;
  }
  main #contact .contact .contact_maill .form {
    display: block;
  }
  main #contact .contact .contact_maill .form .form-text,
  main #contact .contact .contact_maill .form .form-sub {
    margin: 20px auto;
    width: 100%;
    text-align: center;
  }
  main #contact .contact .contact_maill .form .form-text span {
    display: inline;
    margin-left: 10px;
  }
  main #contact .contact .contact_maill .form .form-sub {
    justify-content: center;
  }
  main #price .price .price_sub2 .pc-price {
    display: none;
  }
  main #price .price .price_sub2 .phone-price {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  main #price .price .price_sub2 .price_discount .sp-br2 {
    display: inline;
  }
}/*# sourceMappingURL=all.css.map */