body {
    margin: 0;
    // font-family: "Noto Serif JP", serif;
    font-family: ms ｐ明朝,ms pmincho,ヒラギノ明朝 pro w3,hiragino mincho pro,serif;
    // font-family: "ヒラギノUD明朝", "ヒラギノUD明朝 W4 JIS2004";
    // font-family: var(--font-jp, YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", sans-serif);
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: rgba(255, 255, 255, 0.85);
}

a {
    color: black;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

//アニメーションの設定
.fadein {
    opacity: 0;
    transform: translate(0, -30%);
    transition: 2s;
}

.fadein.on {
    transform: translate(0, 0);
    opacity: 1;
}