footer {
    font-size: 1rem;
    text-align: center;

    .top {
        // background: url(../material/icon/arrow-up-circle.svg) no-repeat 0 0;
        position: fixed;
        bottom: 5px;
        right: 0;
        width: 52px;
        height: 52px;
        margin-right: 16px;

        .arrow {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: solid 1px gray;
            opacity: 0;
            transition: all 1s;
            transform: translateX(100px);
        }

        .arrow::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            border-left: solid 1px gray;
            border-bottom: solid 1px gray;
            // transform: translate(-50%, -50%) rotate(135deg);
            transform: rotate(135deg);
            transform-origin: 7px 5px;
        }

        .slide.on {
            opacity: 1;
            transform: translateX(0);
        }

    }

    .link-btn {
        position: fixed;
        right: 0;
        bottom: 50px;
        padding: 0;
        margin: 1rem;
        list-style: none;
        opacity: 0;
        transform: translateX(100px);
        li {
            // opacity: 0;
            transition: all .5s;
            width: 70px;
            a {
                color: white;
            }
        }
        .set-off {
            transform: translateX(200px)
        }
        .set-on {
            transform: translateX(0)
        }

        li:hover {
            a {
                background-color: #c89961;
            }

        }

        li.plus,
        // ul:hover li {
        //     // opacity: 1;
        // }

        li:nth-child(1) {
            transition-delay: 200ms;
        }

        li:nth-child(2) {
            transition-delay: 150ms;
        }

        li:nth-child(3) {
            transition-delay: 100ms;
        }

        li:nth-child(4) {
            transition-delay: 50ms;
        }

        a,
        .plus span {
            position: relative;
            display: block;
            // border-radius: 50%;
            border-radius: 10px;
            box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
            opacity: .8;
        }

        .plus {
            display: flex;
            justify-content: flex-end;

            span {
                border-radius: 50%;
            }
        }

        a {
            // width: 40px;
            width: 100%;
            height: 40px;
            margin: 0 auto 10px;
            line-height: 40px;
        }

        a:hover,
        .plus span:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            // opacity: 1;
        }

        a::before {
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 100px;
            height: 20px;
            content: "";
            transform: translate(-50%, -50%);
        }

        .set1 a {
            background-color: #deccb7;
            display: block;

        }

        // .set1 a::before {
        //     background: url("../material/icon/icon-facebook.svg") no-repeat 0 0;
        //     background-size: cover;
        // }

        .set2 a {
            background-color: #deccb7;
        }

        // .set2 a::before {
        //     background: url("../material/icon/icon-facebook.svg") no-repeat 0 0;
        //     background-size: cover;
        // }

        .set3 a {
            background-color: #deccb7;
        }

        // .set3 a::before {
        //     background: url("../material/icon/icon-facebook.svg") no-repeat 0 0;
        //     background-size: cover;
        // }
        .set4 a {
            background-color: #deccb7;
        }

        .plus span {
            width: 50px;
            height: 50px;
            cursor: pointer;
            // background: #c11;
            background: #4d3e35;
        }

        // ul:hover li {
        //     opacity: 1;
        // }
        .plus span::before,
        .plus span::after {
            position: absolute;
            box-sizing: border-box;
            display: inline-block;
            width: 20px;
            height: 20px;
            content: '';
            border-top: 2px solid #fff;
            transition: transform 1s;
        }

        .plus span::before {
            top: 24px;
            left: 15px;
        }

        .plus span::after {
            // top: 15px;
            // left: 6px;
            top: 24px;
            left: 15px;
            transform-origin: 10px 1px;
            transform: rotate(90deg);
        }
        .plus.fil-on span::before {
            transform: rotate(45deg);
            transform-origin: 10px 1px;
            // transform: all 1s;
            transition: transform 1s;
        }
        .plus.fil-on span::after {
            transform: rotate(-45deg);
            // transform-origin: 10px 0px;
            // transform: all 1s;
            transition: transform 1s;
        }
    }

    .slide.on {
        opacity: 1;
        transform: translateX(0);
        transition: all 1s;
    }

    .link-btn:hover li {
        opacity: 1;
    }
}