main {
    #top_photo {
        .top_photo {
            .photo1 {
                .bgimg {
                    background-image: url("../material/photo/top-photo/img001.webp");
                }
            }
        }
    }

    #title {
        max-width: 1000px;
        margin: 100px auto 0 auto;
        text-align: center;

        h2 {
            font-size: 2rem;
        }
        .h2-phone {
            display: none;
        }

        p {
            font-size: 1rem;
            line-height: 3rem;
        }
    }

    .section {
        max-width: 1000px;
        width: 95%;
        // max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .title , .text {
            width: 45%;
            text-align: left;
        }

        .title {
            text-align: left;
            margin: 50px 0;
            // display: flex;
            
            h3 , p {
                text-align: left;
                a {
                    text-align: left;
                }
            }
            h3 {
                font-size: 3rem;
                margin: 30px 0;
                position: relative;
                display: inline-block;
            }
            h3::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 15px;
                margin: 0 auto;
                height: 10px;
                background-color: rgb(97 255 214 / 34%);
                z-index: -1;
            }
            .sub-title {
                font-size: 1.5rem;
                margin: 25px 0;
            }
            
            .insta , .map {
                margin: 15px 0;
                // text-align: right;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    height: 100%;
                    img {
                        margin-left: 10px;
                    }
                }
            }
        }

        .text {
            margin: 50px 0;
            .text-title {
                font-size: 1.5rem;
                // line-height: 3rem;
                position: relative;
                display: inline-block;
                margin: 10px 0;
            }
            .text-title::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 10px;
                margin: 0 auto;
                height: 3px;
                background-color: rgb(97 255 214 / 32%);
                z-index: -1;
            }
            .text-sub {
                font-size: 1.2rem;
                line-height: 2.5rem;
            }
        }


        .cook-list {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2,45%);
            justify-content: space-between;
            .list {
                img {
                    width: 100%;
                    object-fit: cover;
                    aspect-ratio: 1/1;
                }
                .eat-title {
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
        }
        // .eat {
        //     display: grid;
        //     grid-template-columns: repeat(2,45%);
        //     justify-content: space-between;
        //     .eat-list {
        //         img {
        //             width: 100%;
        //             object-fit: cover;
        //             aspect-ratio: 1/1;
        //         }
        //         .eat-title {
        //             font-size: 1.5rem;
        //         }
        //     }
        // }
    }
}

@media screen and (max-width:1000px) {
    main {
        .section {
            flex-direction: column;
            .title , .text {
                width: 100%;
            }

        }
    }
}

@media screen and (max-width:650px) {
    main {
        #title {
            .h2-pc {
                display: none;
            }
            .h2-phone {
                display: block;
            }
            p {
                line-height: 2rem;
                width: 90%;
                margin: 0 auto;
                text-align: left;
            }
        }
        .section {
            .title {
                margin: 0;
                h3 {
                    font-size: 2.5rem;
                    margin: 0;
                }
                .sub-title {
                    margin: 15px 0;
                }
                // .title-text {
                //     text-align: left;
                // }
                .insta , .map {
                    margin: 5px 0;
                    font-size: .8rem;
                }
            }
            .text {
                margin: 20px 0;
                .text-title {
                    margin: 5px 0;
                }
                .text-sub {
                    font-size: .8rem;
                    line-height: 1.5rem;
                }
            }
            .eat {
                grid-template-columns: repeat(1,90%);
                justify-content: center;
                gap: 50px;
                .eat-list {
                    p {
                        text-align: center;
                    }
                }
            }
                        .cook-list {
                grid-template-columns: repeat(1,100%);
                justify-content: center;
            }
        }
    }
}