main {
    margin-top: 80px;
    font-size: 1.2rem;
    #top_photo {
        position: relative;
        width: 100%;
        margin: 80px auto 0 auto;
        height: 400px;
        aspect-ratio: 16/9;

        .top_photo {
            width: 100%;
            height: 100%;

            .photo1 {
                width: 100%;
                height: 100%;
                overflow: hidden;

                .bgimg {
                    width: 100%;
                    height: 400px;
                    aspect-ratio: 16/9;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-image: url("../material/photo/top-photo/img001.webp");
                    background-position: center center;
                }

                .bgimg::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    /* 黒の半透明で影を表現 */
                    // background: rgba(0, 0, 0, 0.5);
                    background: rgba(0, 0, 0, 0.2);
                    pointer-events: none;
                }

                .bg {
                    position: absolute;
                    bottom: 10%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 90%;
                    color: white;
                    font-size: 3.5rem;
                    text-align: center;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                }
            }

        }

        .top-text {
            width: 100%;
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
            text-align: center;

            .text-title {
                font-size: 3rem;
                color: white;
            }
        }
    }

    section {
        width: 80%;
        margin: 50px auto 100px auto;
        h2 {
            font-size: 2rem;
            text-align: center;

        }
        .set {
            display: flex;
            justify-content: center;
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                // margin-right: 100px;
            }

            .profile_text {
                width: 400px;

                ul {
                    display: grid;
                    grid-template-columns: 40% 60%;

                    li {
                        height: calc(200px / 5);
                        line-height: calc(200px / 5);
                    }
                    .a {
                        text-align: right;
                        padding-right: 20px;
                    }

                    .insta {
                        
                        a {
                            display: flex;
                            align-items: center;
                            .icon {
                                margin-right: 5px;
                                height: 100%;
                                width: 30px;
                                // margin: 0;
                                border-radius: 0;
                            }
                        }
                    }

                    .a::after {
                        content: ":";
                    }
                }
            }

        }
        .message-title {
            text-align: center;
            margin-top: 100px;
            // font-size: 1.2rem;
        }


    }
    #set2 {
        .set {
            .profile_text {
                ul {
                    li {
                        height: calc(200px / 4);
                        line-height: calc(200px / 4);
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1000px) {
main {
    font-size: 1rem;
    section {
        .set {
            flex-direction: column;
            align-items: center;
               img {
                margin: 0;
               }
               .profile_text {
                width: 350px;

               }
        }
    }
    
}
}