main #top_photo .top_photo .photo1 .bgimg {
  height: 100%;
  width: 100%;
  background-image: url("../material/photo/top-photo/img001.webp");
  background-position: center center;
}
main #top_photo .top-text .phone-text-title,
main #top_photo .top-text .phone-text-sub {
  display: none;
}
main #title {
  max-width: 1000px;
  margin: 100px auto;
  text-align: center;
}
main #title h2 {
  font-size: 2rem;
}
main #title .h2-phone {
  display: none;
}
main #title p {
  font-size: 1rem;
  line-height: 3rem;
}
main .serch {
  margin: 50px auto;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
main .serch .serch-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .serch .serch-header svg {
  width: 20px;
  height: 20px;
}
main .serch .serch-header .serch-title {
  font-size: 1.5rem;
  margin-left: 10px;
}
main .serch .serch-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  align-items: flex-end;
  flex-wrap: wrap;
}
main .serch .serch-list .set0 {
  width: 300px;
}
main .serch .serch-list .set0 .select-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
}
main .serch .serch-list .set0 .select-set img {
  margin: 10px;
  height: 25px;
}
main .serch .serch-list .set0 .select-set span {
  color: gray;
}
main .serch .serch-list .set0 .select-set select {
  margin: 10px;
  border: none;
  font-size: 1.3rem;
  height: 30px;
  width: 100px;
}
main .serch .serch-list .button {
  height: 50px;
  width: 150px;
  border-radius: 25px;
}
main .serch .serch-list .button .btn-set {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 1.3rem;
}
main .serch .serch-list .button .btn-set img {
  margin-right: 10px;
}
main .gifu-shop-list,
main .aichi-shop-list {
  background-color: white;
  padding: 50px 0;
}
main .gifu-shop-list .title,
main .aichi-shop-list .title {
  text-align: center;
}
main .gifu-shop-list .title h2,
main .aichi-shop-list .title h2 {
  font-size: 2.5rem;
}
main .gifu-shop-list .region-list,
main .aichi-shop-list .region-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-around;
  justify-items: center;
  gap: 40px;
  width: 90%;
  margin: 0 auto;
}
main .gifu-shop-list .region-list .shop-list,
main .aichi-shop-list .region-list .shop-list {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 214, 159, 0.0784313725);
  border-radius: 10px;
}
main .gifu-shop-list .region-list .shop-list .detail-page,
main .aichi-shop-list .region-list .shop-list .detail-page {
  position: relative;
  overflow: hidden;
}
main .gifu-shop-list .region-list .shop-list .detail-page .sub-title,
main .aichi-shop-list .region-list .shop-list .detail-page .sub-title {
  font-size: 1.5rem;
}
main .gifu-shop-list .region-list .shop-list .detail-page .sub-text,
main .aichi-shop-list .region-list .shop-list .detail-page .sub-text {
  font-size: 0.9rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
}
main .gifu-shop-list .region-list .shop-list .detail-page h3,
main .gifu-shop-list .region-list .shop-list .detail-page p,
main .gifu-shop-list .region-list .shop-list .detail-page ul,
main .aichi-shop-list .region-list .shop-list .detail-page h3,
main .aichi-shop-list .region-list .shop-list .detail-page p,
main .aichi-shop-list .region-list .shop-list .detail-page ul {
  color: #545454;
  margin: 5px 5px 5px 15px;
  width: calc(100% - 20px);
  text-align: left;
}
main .gifu-shop-list .region-list .shop-list .detail-page h3,
main .aichi-shop-list .region-list .shop-list .detail-page h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 4rem;
  display: flex;
  align-items: center;
}
main .gifu-shop-list .region-list .shop-list .detail-page img,
main .aichi-shop-list .region-list .shop-list .detail-page img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/2;
  transition: 0.3s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main .gifu-shop-list .region-list .shop-list .detail-page .key-word,
main .aichi-shop-list .region-list .shop-list .detail-page .key-word {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
main .gifu-shop-list .region-list .shop-list .detail-page .key-word li,
main .aichi-shop-list .region-list .shop-list .detail-page .key-word li {
  border-radius: 5px;
  font-size: 0.9rem;
}
main .gifu-shop-list .region-list .shop-list .detail-page .key-word li::before,
main .aichi-shop-list .region-list .shop-list .detail-page .key-word li::before {
  content: "#";
}
main .gifu-shop-list .region-list .shop-list .detail-page .place,
main .aichi-shop-list .region-list .shop-list .detail-page .place {
  font-size: 0.9rem;
}
main .gifu-shop-list .region-list .shop-list .detail-page:hover img,
main .aichi-shop-list .region-list .shop-list .detail-page:hover img {
  transform: scale(1.05);
}

@media screen and (max-width: 650px) {
  main #top_photo {
    height: calc(100vh - 80px);
  }
  main #top_photo .top_photo .photo1 .bgimg {
    opacity: 0;
    animation: bganime 15s infinite;
    position: absolute;
  }
  main #top_photo .top_photo .photo1 .bgimg:nth-child(2) {
    background-image: url("../material/photo/top-photo/img002.webp");
    animation-delay: 5s;
  }
  main #top_photo .top_photo .photo1 .bgimg:nth-child(3) {
    background-image: url("../material/photo/top-photo/img003.webp");
    animation-delay: 10s;
  }
  main #top_photo .top_photo .photo1 .bgimg::after {
    background: rgba(0, 0, 0, 0.4);
  }
  main #top_photo .top-text .pc-text-title {
    display: none;
  }
  main #top_photo .top-text .phone-text-title,
  main #top_photo .top-text .phone-text-sub {
    display: block;
    color: white;
  }
  main #top_photo .top-text .phone-text-title {
    font-size: 3rem;
  }
  main #top_photo .top-text .phone-text-sub {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  main #title .h2-pc {
    display: none;
  }
  main #title .h2-phone {
    display: block;
  }
  main #title p {
    line-height: 2rem;
    width: 90%;
    margin: 0 auto;
    text-align: left;
  }
  main #map {
    grid-template-columns: repeat(1, 95%);
  }
  main #map .gifu-map,
  main #map .aichi-map {
    flex-direction: column;
    align-items: center;
  }
  main #map .gifu-map img,
  main #map .aichi-map img {
    width: 80%;
  }
  main #map .gifu-map .gifu-list,
  main #map .gifu-map .aichi-list,
  main #map .aichi-map .gifu-list,
  main #map .aichi-map .aichi-list {
    width: 80%;
  }
  main .gifu-shop-list .region-list,
  main .aichi-shop-list .region-list {
    grid-template-columns: repeat(2, 48%);
    gap: 20px;
  }
  main .gifu-shop-list .region-list .shop-list .detail-page .key-word,
  main .gifu-shop-list .region-list .shop-list .detail-page h3,
  main .gifu-shop-list .region-list .shop-list .detail-page .place,
  main .aichi-shop-list .region-list .shop-list .detail-page .key-word,
  main .aichi-shop-list .region-list .shop-list .detail-page h3,
  main .aichi-shop-list .region-list .shop-list .detail-page .place {
    margin-left: 5px;
    width: calc(100% - 5px);
  }
  main .gifu-shop-list .region-list .shop-list .detail-page .key-word li,
  main .aichi-shop-list .region-list .shop-list .detail-page .key-word li {
    font-size: 0.8rem;
  }
  main .gifu-shop-list .region-list .shop-list .detail-page .place,
  main .aichi-shop-list .region-list .shop-list .detail-page .place {
    font-size: 0.8rem;
  }
  main .gifu-shop-list .region-list .shop-list .detail-page .sub-title,
  main .aichi-shop-list .region-list .shop-list .detail-page .sub-title {
    font-size: 1.2rem;
    font-size: 1rem;
    height: auto;
  }
  main .gifu-shop-list .region-list .shop-list .detail-page .sub-text,
  main .aichi-shop-list .region-list .shop-list .detail-page .sub-text {
    height: auto;
  }
  main .serch .serch-list {
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=search.css.map */