$orange: orange;
$green: #2eff00;
$yellow: #ffe100;
$blue: #3b4bff;
$red: #ff0000;



main {

    // position: relative;
    #top_photo {
        position: relative;
        // margin-top: 80px;
        width: 100%;
        margin: 80px auto 0 auto;
        // height: calc(100vh - 100px);
        // height: 300px;
        // height: calc(100vh - 300px);
        height: 400px;
        aspect-ratio: 16/9;

        .top_photo {
            width: 100%;
            height: 100%;

            .photo1 {
                width: 100%;
                height: 100%;
                overflow: hidden;

                .bgimg {
                    width: 100%;
                    // width: 300px;
                    // height: calc(100vh - 100px);
                    // height: 300px;
                    // height: calc(100vh - 300px);
                    height: 400px;
                    // opacity: 0;
                    aspect-ratio: 16/9;
                    // background-size: contain;
                    background-size: cover;
                    background-repeat: no-repeat;
                    // animation: bganime 15s infinite;
                    background-image: url("../material/photo/top-photo/img002.webp");
                    background-position: center center;
                    // position: absolute; //abs出ないと2つ目以降の画像表示されない

                }

                .bgimg::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    /* 黒の半透明で影を表現 */
                    // background: rgba(0, 0, 0, 0.5);
                    background: rgba(0, 0, 0, 0.2);
                    pointer-events: none;
                    /* クリックを通す */
                }



                // .bgimg:nth-child(2) {
                //     background-image: url("../material/photo/top-photo/img002.webp");
                //     animation-delay: 5s;

                // }



                // .bgimg:nth-child(3) {
                //     background-image: url("../material/photo/top-photo/img003.webp");
                //     animation-delay: 10s;
                // }

                // .bg {
                //     animation: bganime-bg 15s infinite;
                //     // animation-delay: 5s;
                // }

                // .bgimg_text2 {
                //     animation-delay: 5s;
                // }

                // .bgimg_text3 {
                //     animation-delay: 10s;
                // }

                // .bgimg_text {
                .bg {
                    position: absolute;
                    bottom: 10%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 90%;
                    color: white;
                    font-size: 3.5rem;
                    text-align: center;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                }



            }

        }

        .top-text {
            width: 100%;
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
            text-align: center;

            .text-title {
                font-size: 3rem;
                color: white;
            }

            .text-sub {
                font-size: 1.5rem;
                color: white;
            }
        }
    }

    .serch {
        width: 800px;
        margin: 0 auto;
        // position: absolute;
        // top: 100px;
        // left: 50%;
        // transform: translateX(-50%);
        background-color: white;
        border-radius: 5px;
        padding: 5px;

        .serch-header {
            // margin-top: calc(80px + 300px);
            // padding-top: calc(80px + 300px + 20px);
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 20px;
                height: 20px;
            }

            .serch-title {
                font-size: 1.5rem;
                margin-left: 10px;
            }
        }

        .serch-list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            align-items: flex-end;
            flex-wrap: wrap;

            .set0 {
                // width: auto;
                // width: 200px;
                width: 300px;

                .select-set {
                    // padding: 5px 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid black;
                    border-radius: 5px;

                    img {
                        margin: 10px;
                        height: 25px;
                    }

                    span {
                        color: gray;
                    }

                    select {
                        margin: 10px;
                        border: none;
                        font-size: 1.3rem;
                        height: 30px;
                    }
                }
            }

            .button {
                .btn-set {
                    display: flex;
                    align-items: center;
                    height: 30px;
                    margin: 10px;
                    font-size: 1.3rem;

                    img {
                        margin-right: 10px;
                    }
                }

            }
        }
    }

    .gifu-shop-list,
    .aichi-shop-list {
        // margin-top: 80px;
        padding-top: 80px;

        .title {
            text-align: center;

        }

        .region-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, 400px);
            justify-content: space-around;
            justify-items: center;
            gap: 20px;

            .shop-list {
                width: 95%;
                display: flex;
                gap: 10px;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                // border: 1px solid black;
                .sub-title {
                    font-size: 1.5rem;
                }

                h3,
                p {
                    margin: 0;
                }

                img {
                    // width: 100%;
                    width: 80%;
                    border-radius: 10px;
                    object-fit: contain;
                    // aspect-ratio: 12/7;
                }

                .key-word {
                    // background-color: $orange;
                    display: flex;
                    gap: 10px;
                    flex-wrap: wrap;
                    justify-content: center;

                    li {
                        // color: $orange;
                        // border: 1px solid $orange;
                        border-radius: 5px;
                        padding: 5px 10px;
                    }
                }

                .explanation {
                    color: gray;
                }

                .detail-page {
                    display: block;
                    height: 20px;
                    // border: 2px solid $orange ;
                    border-radius: 25px;
                    padding: 15px 85px;
                    // color: $orange;
                }

                .detail-page:hover {
                    // background-color: $orange;
                    color: white;
                }

                .detail-page::after {
                    content: ">";
                    margin-left: 20px;
                }
            }
        }
    }

    #tyuunou {
        .region-list {
            .shop-list {
                .key-word {
                    li {
                        color: $orange;
                        border: 1px solid $orange;
                    }
                }

                .detail-page {
                    border: 2px solid $orange ;
                    color: $orange;
                }

                .detail-page:hover {
                    background-color: $orange;
                    color: white;
                }
            }
        }
    }

    #gifusi {
        .region-list {
            .shop-list {
                .key-word {
                    li {
                        color: $green;
                        border: 1px solid $green;
                    }
                }

                .detail-page {
                    border: 2px solid $green ;
                    color: $green;
                }

                .detail-page:hover {
                    background-color: $green;
                    color: white;
                }
            }
        }
    }

    #seinou {
        .region-list {
            .shop-list {
                .key-word {
                    li {
                        color: $yellow;
                        border: 1px solid $yellow;
                    }
                }

                .detail-page {
                    border: 2px solid $yellow;
                    color: $yellow;
                }

                .detail-page:hover {
                    background-color: $yellow;
                    color: white;
                }
            }
        }
    }

    #aichi {
        .region-list {
            .shop-list {
                .key-word {
                    li {
                        color: $blue;
                        border: 1px solid $blue;
                    }
                }

                .detail-page {
                    border: 2px solid $blue;
                    color: $blue;
                }

                .detail-page:hover {
                    background-color: $blue;
                    color: white;
                }
            }
        }
    }
}

// //画像切り替え
// @keyframes bganime {
//     0% {
//         opacity: 0;
//     }

//     30% {
//         opacity: 1;
//     }

//     40% {
//         opacity: 0;
//     }

// }

// //画像の横移動　流れる画像
// @keyframes infinity-scroll-left {
//     from {
//         transform: translateX(0);
//     }

//     to {
//         transform: translateX(-100%);
//     }
// }

@media screen and (max-width:1000px) {
    main {
        #top_photo {
            height: 200px;

            .top_photo {
                .photo1 {
                    .bgimg {
                        height: 200px;
                    }
                }
            }
        }

        .serch {
            width: 300px;
        }
    }
}

@media screen and (max-width:650px) {
    main {
        #top_photo {
            .top-text {
                .text-title {
                    font-size: 2.5rem;
                }

                .text-sub {
                    font-size: 1.1rem;
                }
            }
        }

        #map {
            grid-template-columns: repeat(1, 95%);

            .gifu-map,
            .aichi-map {
                flex-direction: column;
                align-items: center;

                img {
                    width: 80%;
                }

                .gifu-list,
                .aichi-list {
                    width: 80%;
                }
            }
        }

        .gifu-shop-list,
        .aichi-shop-list {
            .region-list {
                grid-template-columns: repeat(auto-fit, 95%);
            }
        }

        .serch {
            .serch-list {
                align-items: center;
                flex-direction: column;
            }
        }
    }
}