// $orange: orange;
// $green: #2eff00;
// $yellow: #ffe100;
// $blue: #3b4bff;
// $red: #ff0000;
$color: #b9b9b98c; //囲い色
$text: #545454; //文字色



// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



main {
    #top_photo {
        // height: calc(100vh - 80px);

        .top_photo {

            .photo1 {
                .bgimg {
                    height: 100%;
                    width: 100%;
                    // opacity: 0;
                    background-image: url("../material/photo/top-photo/img001.webp");
                    // animation: bganime 15s infinite;
                    // background-image: url("../material/photo/top-photo/img002.webp");
                    background-position: center center;
                    // position: absolute; //abs出ないと2つ目以降の画像表示されない
                }

                // .bgimg:nth-child(2) {
                //     background-image: url("../material/photo/top-photo/img002.webp");
                //     animation-delay: 5s;

                // }



                // .bgimg:nth-child(3) {
                //     background-image: url("../material/photo/top-photo/img003.webp");
                //     animation-delay: 10s;
                // }

                // .bgimg::after {
                //     background: rgba(0, 0, 0, 0.4);
                // }


            }
        }

        .top-text {

            .phone-text-title,
            .phone-text-sub {
                display: none;
            }

            //     .text-title {
            //         font-family: "Dancing Script", cursive;
            //         font-optical-sizing: auto;
            //         font-weight: weight;
            //         font-style: normal;
            //         font-size: 3rem;
            //     }

            //     .text-sub {
            //         font-family: "Dancing Script", cursive;
            //         font-optical-sizing: auto;
            //         font-weight: weight;
            //         font-style: normal;
            //         font-size: 1.5rem;
            //     }
        }
    }

    #title {
        max-width: 1000px;
        margin: 100px auto;
        text-align: center;

        h2 {
            font-size: 2rem;
        }

        .h2-phone {
            display: none;
        }

        p {
            font-size: 1rem;
            line-height: 3rem;
        }
    }

    .serch {
        margin: 50px auto;
        background-color: white;
        border-radius: 5px;
        padding: 5px;

        .serch-header {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 20px;
                height: 20px;
            }

            .serch-title {
                font-size: 1.5rem;
                margin-left: 10px;
            }
        }

        .serch-list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            align-items: flex-end;
            flex-wrap: wrap;

            .set0 {
                // width: auto;
                // width: 200px;
                width: 300px;

                .select-set {
                    // padding: 5px 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid black;
                    border-radius: 25px;

                    img {
                        margin: 10px;
                        height: 25px;
                    }

                    span {
                        color: gray;
                    }

                    select {
                        margin: 10px;
                        border: none;
                        font-size: 1.3rem;
                        height: 30px;
                        width: 100px;
                    }
                }
            }

            .button {
                height: 50px;
                width: 150px;
                border-radius: 25px;

                .btn-set {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 30px;
                    // margin: 10px;
                    font-size: 1.3rem;

                    img {
                        margin-right: 10px;
                    }
                }

            }
        }
    }

    // #tyuunou,
    // #seinou {
    // background-color: #f9f7d4;
    // }

    // #tyuunou {
    //     .title {
    //         h2 {
    //             color: #deccb7;
    //         }
    //         h2::after {
    //             background-color: #deccb7;
    //         }
    //     }
    // }
    // #gifusi {
    //     .title {
    //         h2 {
    //             color: #4d3e36;
    //         }
    //         h2::after {
    //             background-color: #4d3e36;
    //         }
    //     }
    // }
    
    // #seinou {
    //     .title {
    //         h2 {
    //             color: #7b8d8a;
    //         }
    //         h2::after {
    //             background-color: #7b8d8a;
    //         }
    //     }
    // }
    
    // #aichi {
    //     .title {
    //         h2 {
    //             color: #657355;
    //         }
    //         h2::after {
    //             background-color: #657355;
    //         }
    //     }
    // }
    .gifu-shop-list,
    .aichi-shop-list {
        // background-color: #f9f7d478;
        background-color: white;
        // margin-top: 80px;
        padding: 50px 0;

        .title {
            text-align: center;
            h2 {
                position: relative;
                display: inline-block;
                // font-size: 2.5rem;
                .eria {
                    font-size: 3rem;
                    color: #deccb7;
                }
                .ken {
                    font-size: 1.5rem;
                    // color: rgb(90 255 212);
                    color: #deccb7;
                }
            }
            h2::after {
                position: absolute;
                content: "";
                bottom: 0;
                right: 0;
                width: calc(100% + 50px);
                height: 5px;
                // background-color: rgb(90 255 212);
                background-color: #deccb7;
                transform: translate(25px);
            }
        }

        .region-list {
            display: grid;
            // grid-template-columns: repeat(auto-fit, 400px);
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            justify-content: space-around;
            justify-items: center;
            gap: 40px;
            width: 90%;
            margin: 0 auto;

            .shop-list {
                width: 100%;
                display: flex;
                gap: 10px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // border: 1px solid black;
                // padding: 20px;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
                background-color: #ffd69f14;
                border-radius: 10px;

                .detail-page {
                    // border: 1px solid black;
                    // padding: 10px;
                    position: relative;
                    // padding: 15px;
                    //囲いデザイン
                    // border-top: 2px solid $color;
                    // border-bottom: 2px solid $color;
                    // padding: 10px 20px;
                    overflow: hidden;

                    .sub-title {
                        font-size: 1.5rem;
                    }

                    .sub-text {
                        font-size: .9rem;
                        height: 2.5rem;
                        display: flex;
                        align-items: center;
                    }
                    .place {
                        display: none;
                    }

                    h3,
                    p,
                    ul {
                        color: $text;
                        margin: 5px 5px 5px 15px;
                        width: calc(100% - 20px);
                        text-align: left;
                    }

                    h3 {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        height: 4rem;
                        display: flex;
                        align-items: center;
                    }

                    img {
                        // width: 100%;
                        width: 100%;
                        // border-radius: 10px;
                        object-fit: cover;
                        aspect-ratio: 3/2;
                        //ホバー時の設定
                        transition: .3s ease;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }

                    .key-word {
                        // background-color: $orange;
                        display: flex;
                        gap: 10px;
                        flex-wrap: wrap;
                        justify-content: flex-start;

                        li {
                            border-radius: 5px;
                            font-size: .9rem;
                        }

                        li::before {
                            content: "#";
                        }
                    }

                    .place {
                        font-size: .9rem;
                    }

                }

                .detail-page:hover {
                    img {
                        // opacity: .8;
                        transform: scale(1.05);
                    }
                }

            }
        }
    }
}




@media screen and (max-width:650px) {
    main {
        #top_photo {
            height: calc(100vh - 80px);

            .top_photo {
                .photo1 {
                    .bgimg {
                        opacity: 0;
                        animation: bganime 25s infinite;
                        position: absolute; //abs出ないと2つ目以降の画像表示されない
                    }

                    .bgimg:nth-child(2) {
                        background-image: url("../material/photo/top-photo/img002.webp");
                        animation-delay: 5s;
                    }
                    .bgimg:nth-child(3) {
                        background-image: url("../material/photo/top-photo/img003.webp");
                        animation-delay: 10s;
                    }
                    .bgimg:nth-child(4) {
                        background-image: url("../material/photo/top-photo/img004.webp");
                        animation-delay: 15s;
                    }
                    .bgimg:nth-child(5) {
                        background-image: url("../material/photo/top-photo/img005.webp");
                        animation-delay: 20s;
                    }

                    .bgimg::after {
                        background: rgba(0, 0, 0, 0.4);
                    }
                }

            }

            .top-text {
                .pc-text-title {
                    display: none;
                }

                .phone-text-title,
                .phone-text-sub {
                    // font-family: "Dancing Script", cursive;
                    // font-optical-sizing: auto;
                    // font-weight: weight;
                    // font-style: normal;
                    display: block;
                    color: white;
                }
                .phone-text-title {
                    font-size: 3rem;
                }
                .phone-text-sub {
                    font-size: 1.5rem;
                    line-height: 3rem;
                }
            }

        }

        #title {
            display: none;
            // .h2-pc {
            //     display: none;
            // }

            // .h2-phone {
            //     display: block;
            // }

            // p {
            //     line-height: 2rem;
            //     // width: 90%;
            //     max-width: 350px;
            //     margin: 0 auto;
            //     text-align: left;
            //     text-wrap: wrap;
            // }
        }

        #map {
            grid-template-columns: repeat(1, 95%);

            .gifu-map,
            .aichi-map {
                flex-direction: column;
                align-items: center;

                img {
                    width: 80%;
                }

                .gifu-list,
                .aichi-list {
                    width: 80%;
                }
            }
        }

        .gifu-shop-list,
        .aichi-shop-list {
            .region-list {
                grid-template-columns: repeat(2, 48%);
                gap: 20px;

                .shop-list {
                    .detail-page {

                        .key-word,
                        h3,
                        .place {
                            margin-left: 5px;
                            width: calc(100% - 5px);
                        }

                        .key-word {
                            li {
                                font-size: .8rem;
                            }
                        }

                        .place {
                            font-size: .8rem;
                        }

                        .sub-title {
                            font-size: 1.2rem;
                            font-size: 1rem;
                            // background-color: red;
                            height: auto;
                        }

                        .sub-text {
                            height: auto;
                        }
                    }
                }
            }
        }

        .serch {
            .serch-list {
                align-items: center;
                flex-direction: column;
            }
        }
    }
    .gifu-shop-list , .aichi-shop-list  {
        .title {
            h2 {
                position: relative;
                width: auto;
                display: inline-block;
                position: relative;
                .eria {
                    display: block;
                    margin-left: 20px;
                }
                .ken {
                    // position: absolute;
                    // top: 50%;
                    // right: 50%;
                    // transform: translate(50%,-50%) scale(2);
                    // text-align: left;
                    font-size: 2rem;
                    // transform: scale(1.5);
                    // color: rgb(90 255 212);
                    color: #deccb7;
                    // transform-origin: left;
                    // display: inline-block;
                    display: block;
                }
            }
            h2:before {
                margin-right: 20px;
                content: "";
                position: absolute;
                top: 0;
                left:0;
                width: 5px;
                height: 100%;
                display: inline-block;
                // background-color: rgba(97, 255, 214, 0.34);
                // background-color: rgb(90 255 212);
                background-color: #deccb7;
            }
            h2::after {
                display: none;
            }
        }
    }
}

@keyframes bganime {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}