@use 'set';


main {
    .shop-list {
        // margin-top: 80px;
        padding-top: 80px;

        .sub-title {
            color: set.$green;
            margin-left: 30px;
        }

        .title {
            font-size: 3rem;
            margin-left: 30px;
        }

        .shop-sub {
            display: flex;

            .photo,
            .text {
                width: 50%;
            }

            .photo {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                img {
                    width: 100%;
                    object-fit: cover;
                    // aspect-ratio: 12/7;
                    aspect-ratio: 1/1;
                }
            }

            .text {
                margin: 0 30px;

                // .sub-title {
                //     color: set.$green;
                // }
                // .title {
                //     font-size: 3rem;
                // }
                .main-text {
                    line-height: 2rem;
                }

                .shop-info {
                    .address::before {
                        content: "住所 : ";
                    }

                    .regular-holiday::before {
                        content: "定休日 : ";
                    }

                    .business-hours::before {
                        content: "営業時間 : ";
                    }

                    .business-hours::after {
                        content: "※営業時間・営業日は状況により変更となる場合がございます。";
                        font-size: .7rem;
                        color: gray;
                        display: block;
                    }

                    .parking::before {
                        content: "駐車場 : ";
                    }

                }

                a {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                    align-items: center;
                    height: 20px;
                    margin-bottom: 20px;
                    width: 200px;

                    .insta , .google-map {
                        height: 20px;
                        width: 20px;
                        margin: 0 10px;
                    }
                    // svg {
                    //     height: 20px;
                    //     width: 20px;
                    //     margin: 0 10px;
                    // }
                }
            }
        }
    }
}

@media screen and (max-width:1000px) {
    main {
        .shop-list {
            .shop-sub {
                .photo {
                    grid-template-columns: 1fr;

                    img {
                        aspect-ratio: 12/7;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1000px) {
    main {
        .shop-list {
            .title {
                font-size: 2rem;
            }
            .shop-sub {
                flex-direction: column;

                .photo,
                .text {
                    width: 100%;
                    // grid-template-columns: 1fr;

                    img {
                        aspect-ratio: 12/7;
                    }
                }

                .text {
                    width: 90%;
                    margin: 0 auto;
                }
            }

        }
    }
}