@use 'set';

main {
    #check {
        .check {
            .check1 {
                font-size: set.$size2;
            }
            max-width: set.$max-width;
            margin: 0 auto;
            .check2 {
                display: flex;
                justify-content: space-around;
                ul {
                    width: 45%;
                    border: 1px solid gray;
                    .title_set {
                        height: 2rem;
                        line-height: 2rem;
                        font-size: set.$size2;
                        font-weight: bold;
                        color: white;
                        padding: 10px 0;
                        justify-content: center;
                    }
                    .check_title1 {
                        background-color: gray;
                    }
                    .check_title2 {
                        background-color: set.$color;
                    }
                    li {
                        font-size: 1rem;
                        line-height: 2rem;
                        text-align: left;
                        padding-left: 20px;
                        display: flex;
                        align-items: center;
                        svg {
                            color:red ;
                            margin-right: 5px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
            .check3 {
                font-size: set.$size3;
                text-align: left;
                margin-top: 50px;
            }
        }
        
    }
}

@media screen and (max-width:1000px) {
main {
    #check {
        .check {
            .check1 {
                font-size: set.$size5;
            }
            .check2 {
                flex-direction: column;
                ul {
                    width: 85%;
                    margin: 0 auto;
                    .title_set {
                        font-size: set.$size5;
                    }
                    li {
                        font-size: set.$size6;
                    }
                }
                ul:nth-child(1) {
                    margin-bottom: 30px;
                }
            }
            .check3 {
                font-size: set.$size6;
            }
        }
    }
}

}

@media screen and (max-width:700px) {
main {
    #check {
        .check {
            .check2 {
                ul {
                    width: 100%;
                    li {
                        padding-left: 10px;
                        svg {
                            width: 15px;
                            height: 15px;
                        }
                    }
                    .title_set {
                        font-size: 1.2rem;
                    }
                }
            }
            .check3 {
                font-size: set.$size8;
            }
        }
    }
}

}