@use 'set';

footer {
    margin-top: 100px;

    .phone_menu,
    #gnavwrap {
        display: none;
    }

    .footer {

        // max-width: set.$max-width;
        // margin: 0 auto;
        // position: relative;
        // display: flex;
        // justify-content: space-around;
        .last_footer {
            width: 100%;
            text-align: center;
            background-color: set.$color;
            color: white;
        }

        .logo {
            width: 50%;
            display: flex;
            align-items: center;

            a {
                display: inline-block;
                width: 50%;
                height: 100%;

                h1 {
                    height: 50px;
                    margin: 15px 0;
                    width: 100%;
                    color: gray;
                }
            }

            .access {
                width: 50%;
                font-size: .8rem;
                color: gray;

                // margin-left: 10px;
                div {
                    width: 100%;
                    margin: 10px 0;

                    .address_1 {
                        background-color: #80808070;
                        padding: 3px;
                    }
                }
            }
        }

        .footer_list {
            width: 40%;

            ul {
                li {
                    a {
                        color: black;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1000px) {
    footer {
        .footer {
            flex-direction: column;
            align-items: center;

            .logo {
                width: 100%;

                h1 {
                    width: 50%;
                    text-align: center;
                }

                .access {
                    text-align: left;
                    font-size: 1rem;
                }
            }

            .footer_list {
                width: 450px;
                font-size: 1.2rem;
            }
        }
    }

}

@media screen and (max-width:700px) {
    footer {
        .phone_menu.fadein.display {
            display: block;
        }
        .phone_menu.fadein.display.on {
            opacity: 1;
            // display: block;
            transition:all ease .5s;
        }
        .phone_menu {
            opacity: 0;
            // display: block;
            // position: sticky;
            position: fixed;
            // top: 0;
            top: 0;
            height: 70px;
            width: 100%;
            // padding-top: 10px;
            // background-color: rgba(0, 0, 0, 0.8);
            // background-image: linear-gradient(180deg, rgba(240, 240, 240, 1) 59%, rgba(170, 170, 170, 1));
            z-index: 10;

            ul {
                display: flex;
                width: 100%;
                height: 100%;
                margin: 0;

                li {
                    height: 100%;

                    // width: calc(100% / 3);
                    a {
                        display: flex;
                        height: 100%;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        justify-content: space-around;
                        color: #6f6f6f;

                        svg {
                            width: 23px;
                            height: 23px;
                            // color: black;
                        }

                        p {
                            width: 100%;
                        }
                    }
                }

                li:nth-child(1),
                li:nth-child(2) {
                    height: 100%;
                    width: 25%;
                    background-image: linear-gradient(180deg, rgba(240, 240, 240, 1) 59%, rgba(170, 170, 170, 1));
                    border-right: 1px solid #6f6f6f;
                }

                li:nth-child(3) {
                    height: 100%;
                    width: 50%;
                    background-color: set.$color;
                    
                    a {
                        display: flex;
                        flex-direction: row;
                        color: white;
                        .phone_str {
                            text-align: left;
                            p {
                                font-size: .7rem;
                            }
                        }
                    }
                }

                .menu_hot {
                    border-left: 1px solid white;
                    border-right: 1px solid white;
                }

            }
        }

        #gnavwrap {
            // opacity: 0;
            // display: none;
            display: block;
            z-index: 5;

            .toggle {
                z-index: 10;
                position: fixed;
                width: 50px;
                height: 50px;
                // position: absolute;
                bottom: 20px;
                // right: 25px;
                right: 10px;
                // transform: translateY(50%);
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.8);
                border-radius: 50%;

                div {
                    // ハンバーガーメニュー指定
                    width: 30px;
                    height: 3px;
                    background-color: white;
                    margin: 8px auto;
                    // backface-visibility: hidden;
                    transition-duration: 0.3s;
                }

                .one {
                    margin-top: 13px;
                }
            }

            nav {
                position: fixed;
                width: 100%;

                ul {
                    text-align: center;
                    list-style: none;
                    margin: 50px 0 0 0;
                    padding: 0;
                    overflow: hidden; //はみ出分は非表示

                    // display: none; //最初は非表示
                    li:hover {
                        background-color: rgba(0, 0, 0, 0.5);
                    }

                    li {
                        padding: 10px 0;

                        a {
                            color: white;
                            font-size: 1.5em;
                            text-decoration: none;
                            line-height: 1.5;
                            width: 100%;
                            // padding: 1em;
                            display: block;
                            box-sizing: border-box;

                            span {
                                font-size: .8rem;
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }



        #gnavwrap.off nav ul {
            display: none;
        }

        // ボタンの設定
        #gnavwrap.on {
            position: fixed;
            // right: 0;
            top: 0;
            background-color: rgba(0, 0, 0, .5);
            width: 100%;
            min-height: 100%;
            // display: block;
            z-index: 10;

            // 押した時の変化
            .one {
                transform: rotate(45deg)translate(7px, 7px);
                background-color: white;
            }

            .two {
                opacity: 0;
            }

            .three {
                transform: rotate(-45deg)translate(8px, -9px);
                background-color: white;
            }

            nav {
                z-index: 10;
                // display: flex;
            }

            #mask {
                transition-duration: .5s;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .5);
                display: block;
                position: fixed;
                top: 0;
                z-index: 2;
            }
        }


        .footer {
            .last_footer {
                // display: none;
                margin-bottom: 70px;
            }

            .logo {
                flex-direction: column;

                h1 {
                    width: 100%;
                }

                .access {
                    width: 100%;
                    text-align: center;
                }
            }

            .footer_list {
                width: 95%;
            }
        }
    }


    
}