@use 'set';

main {

    section {
        // font-size: 1.5rem;
        margin-bottom: 100px;
        padding-top: 70px;
        // padding-top: 50px;
        /*header分下げる*/
        text-align: center;

        h2 {
            color: set.$color;
            font-size: set.$size1;
            .title_phone {
                display: none;
            }
            p {
                font-size: 1rem;
            }
        }
    }

    

   
}

@media screen and (max-width:1000px) {
main {
    margin: 0 30px;
    section {
        div {
            h2 {
                font-size: 1.5rem;
                p {
                    font-size: .9rem;
                }
            }
        }
    }
}

}

@media screen and (max-width:700px) {
    main {
        margin: 0;
        padding: 0 10px;
        section {
            div {
                h2 {
                    font-size: set.$size7;
                    line-break: anywhere;
                    white-space: normal;
                    .title_pc {
                        display: none;
                    }
                    .title_phone {
                        display: block;
                    }
                    p {
                        font-size: .7rem;
                    }
                }
                
            }
        }
    }
    
    }