@use 'set';

main {
    #price {
        .price {
            max-width: set.$max-width;
            margin: 0 auto;

            .price_p {
                font-size: set.$size2;
                margin-bottom: 20px;
            }

            .price1 {
                position: relative;
                height: 2rem;

                .border {
                    height: 1px;
                    width: 100%;
                    background-color: set.$color;
                    position: absolute;
                    top: 1rem;
                }

                .price_text {
                    background-color: white;
                    z-index: 5;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%);
                    padding: 0 20px;
                }
            }

            .price2 {

                div {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    ul {
                        width: 45%;
                        background-color: set.$black;
                        border-radius: 20px;
                        padding: 20px 0;

                        li:nth-child(1),
                        li:nth-child(3) {
                            font-size: 1.3rem;
                        }

                        li:nth-child(2) {
                            font-size: 2.3rem;
                        }

                        li:nth-child(4) {
                            font-size: .9rem;
                        }
                    }
                }

                .price_comment {
                    font-size: 1rem;
                }
            }

            .price3 {
                margin: 50px 0;
                font-weight: 900;

                span {
                    margin: 20px 0;
                    font-size: 2rem;
                    color: set.$color;
                    // position: relative;
                    z-index: 10;
                    background: linear-gradient(transparent 60% , yellow 60%);
                }

                // span::after {
                //     content: '';
                //     border-bottom: .8rem solid #ffff009c;
                //     display: inline-block;
                //     width: 100%;
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     opacity: .7;
                // }
            }

            .price_photo {
                .price_notice {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 50px 0;

                    img {
                        width: 45%;
                    }

                    ul {
                        width: 45%;

                        li {
                            font-size: 1.2rem;
                        }

                        li:nth-child(1) {
                            // font-size: 1.5rem;

                            span {
                                text-decoration: line-through;
                                font-size: 2rem;
                                margin: 0 10px;
                            }
                        }

                        li:nth-child(2),
                        li:nth-child(3),
                        li:nth-child(4),
                        li:nth-child(5) {
                            color: red;
                            font-weight: bold;
                        }

                        li:nth-child(3) {
                            font-size: 4rem;
                            // text-decoration: underline;
                            text-underline-offset: -5px;
                            // text-decoration-color: #ffff009c;
                            // text-decoration-thickness: 10px;
                            font-weight: 900;
                            // text-decoration: underline;
                            // text-underline-offset: -5px;
                            // text-decoration-color: #ffff009c;
                            // text-decoration-thickness: 15px;
                            // position: relative;
                            display: inline;
                            background: linear-gradient(transparent 60% , yellow 60%);
                        }

                        // li:nth-child(3)::after {
                        //     content: '';
                        //     border-bottom: .8rem solid #ffff009c;
                        //     display: inline-block;
                        //     width: 100%;
                        //     position: absolute;
                        //     bottom: 0;
                        //     left: 0;
                        //     opacity: .7;
                        // }
                    }
                }

                .photo_text {
                    p {
                        border: 1px solid set.$color;
                        padding: 10px;
                        color: set.$color;
                        font-size: 1.5rem;

                        span {
                            color: red;
                            font-weight: bold;
                            font-size: 2rem;
                            margin-left: 10px;
                        }
                    }

                    ul {
                        li {
                            font-size: 1rem;
                            text-align: left;
                        }
                    }
                }

            }

            .price_explanation {
                .explanation_title {
                    font-size: set.$size2;
                    padding: 20px 0;
                    border-top: 1px solid gray;
                    border-bottom: 1px solid gray;
                }

                .explanation_text {
                    font-size: set.$size3;
                    margin: 30px 0;
                    line-height: 2.3rem;
                    text-align: left;
                }
            }

        }
    }
}

@media screen and (max-width:1000px) {
    main {
        #price {
            .price {
                .price_p {
                    font-size: 1rem;
                }

                .price2 {
                    div {
                        ul {
                            li:nth-child(4) {
                                font-size: .8rem;
                            }
                        }
                    }
                }

                .price3 {
                    p {
                        font-size: 1.5rem;
                    }
                }

                .price_photo {
                    .price_notice {
                        img {
                            width: 40%;
                        }

                        ul {
                            width: 55%;

                            li {
                                font-size: 1.2rem;
                            }

                            li:nth-child(1) {
                                font-size: 1.2rem;

                                span {
                                    font-size: 1.5rem;
                                }
                            }

                            li:nth-child(3) {
                                font-size: 3rem;
                            }
                        }
                    }

                    .photo_text {
                        p {
                            font-size: 1rem;

                            span {
                                font-size: 1.5rem;
                            }
                        }

                        ul {
                            li {
                                font-size: .8rem;
                            }
                        }
                    }
                }

                .price_explanation {
                    .explanation_title {
                        font-size: set.$size5;
                    }

                    .explanation_text {
                        font-size: set.$size6;
                        line-height: 1.8rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    main {
        #price {
            .price {
                .price1 {
                    .price_text {
                        width: 150px;
                    }
                }

                .price2 {
                    div {
                        flex-direction: column;

                        ul {
                            width: 90%;
                        }
                    }
                }
                .price3 {
                    span {
                        font-size: 1.5rem;
                    }
                }

                .price_photo {
                    .price_notice {
                        flex-direction: column;

                        img {
                            width: 80%;
                            max-width: 400px;
                        }

                        ul {
                            width: 90%;
                        }
                    }
                }

                .price_explanation {
                    .explanation_title {
                        font-size: set.$size8;
                    }

                    .explanation_text {
                        font-size: set.$size8;
                        line-height: 1.5rem;
                    }
                }
            }
        }
    }
}