@use 'set';

#profile {
    // background-color: set.$black;

    .profile {
        max-width: set.$max-width;
        margin: 0 auto;
        text-align: center;
        

        .profile_setting {
            // display: flex;

            .profile_detail {
                width: 300px;
                border: 1px solid #808080db;
                height: 650px;
                float: right;
                margin-left: 30px;
                margin-bottom: 50px;
                img {
                    width: 100%;
                }

                .profile_text {
                    background-color: #808080db;
                    color: white;

                    p:nth-child(1) {
                        font-size: 1.3rem;
                    }
                }

                .profile_list {
                    background-color: #8080807a;
                    margin-top: 20px;

                }

                ul {
                    li::before {
                        display: inline-block;
                        content: "";
                        // width: .5rem;
                        // height: .5rem;
                        width: 8px;
                        height: 8px;
                        background-color: gray;
                        // border-radius: 50%;
                        border-radius: 4px;
                        margin-right: 5px;
                    }

                    li {
                        display: flex;
                        align-items: center;
                        text-align: left;
                        margin: 10px 0 10px 10px;
                        span {
                            width: 95%;
                        }
                    }
                }
            }

            .profile1 {
                // width: calc(100% - 300px);
                width: 95%;
                margin: 0 auto;
                // padding: 0 30px;
                font-size: set.$size3;
                line-height: 2rem;
                text-align: left;
                color: #1c1c1c;

                .emphasis {
                    color: black;
                    font-weight: bold;
                    font-size: set.$size2;
                }

                .emphasis2 {
                    color: red;
                    font-weight: bold;
                    font-size: 1.8rem;
                }
            }

        }

        .profile2 {
            font-weight: bold;
            color: set.$color;
            font-size: set.$size2;
            margin-top: 20px;
            display: inline-block;
            font-size: 1.6rem;
        }
    }
}

@media screen and (max-width:1000px) {
    main {
        #profile {
            .profile {
                .profile_setting {
                    display: block;
                    margin-bottom: 50px;

                    .profile_detail {
                        // float: left;
                        // margin: 0 20px 20px 0;
                        width: 250px;

                        // height: 550px;
                        .profile_text {
                            font-size: 1.3rem;
                        }

                        ul {
                            font-size: 1.1rem;
                        }
                    }

                    .profile1 {
                        width: 100%;
                        padding: 0;
                        font-size: set.$size6;
                        line-height: 1.5rem;

                        .emphasis {
                            color: black;
                            font-weight: bold;
                            font-size: set.$size5;
                        }

                        .emphasis2 {
                            color: red;
                            font-weight: bold;
                            font-size: set.$size5;
                        }
                    }
                }

                .profile2 {
                    font-size: set.$size5;
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    main {
        #profile {
            .profile {
                .profile_setting {
                    .profile_detail {
                        width: 70%;
                        height: 100%;
                        max-width: 400px;
                        float: none;
                        margin: 0 auto;
                        font-size: set.$size9;
                        .profile_text {
                            ul {
                            }
                        }
                    }

                    .profile1 {
                        width: 90%;
                        margin: 30px auto 0 auto;
                    }
                }
            }
        }
    }

}